name: Release

on:
  release:
    types:
      - published

permissions:
  contents: write

jobs:
  build:
    uses: bennypowers/go-release-workflows/.github/workflows/build-binaries.yml@main
    with:
      binary-name: asimonim
      release-tag: ${{ github.event.release.tag_name }}
